<!DOCTYPE html>
<html>
<head><title>Finance MVP</title></head>
<body>
  <nav>
    <a href="/summary">Resumo</a> |
    <a href="/transactions">Lançamentos</a> |
    <a href="/categories">Categorias</a>
  </nav>
  <hr />
  <%- body %>
</body>
</html>
